src/Web References/SeNetworkService/SeService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Start">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sessionKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="subtitle" type="tns:ArrayOfSeSequence" />
            <s:element minOccurs="0" maxOccurs="1" name="originalSubtitle" type="tns:ArrayOfSeSequence" />
            <s:element minOccurs="0" maxOccurs="1" name="fileName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfSeSequence">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="SeSequence" nillable="true" type="tns:SeSequence" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SeSequence">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Index" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="StartMilliseconds" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="EndMilliseconds" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Text" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="StartResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="StartResult" type="tns:SeUser" />
            <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SeUser">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Ip" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="LastActivity" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="Join">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sessionId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="JoinResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="JoinResult" type="tns:ArrayOfSeUser" />
            <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfSeUser">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="SeUser" nillable="true" type="tns:SeUser" />
        </s:sequence>
      </s:complexType>
      <s:element name="Leave">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sessionId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LeaveResponse">
        <s:complexType />
      </s:element>
      <s:element name="DeleteLines">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sessionId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="indices" type="tns:ArrayOfInt" />
            <s:element minOccurs="0" maxOccurs="1" name="user" type="tns:SeUser" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfInt">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="int" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="DeleteLinesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteLinesResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertLine">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sessionId" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="index" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="startMilliseconds" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="endMilliseconds" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="text" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="user" type="tns:SeUser" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertLineResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InsertLineResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateLine">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sessionId" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="index" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="sequence" type="tns:SeSequence" />
            <s:element minOccurs="0" maxOccurs="1" name="user" type="tns:SeUser" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateLineResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateLineResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendMessage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sessionId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="text" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="user" type="tns:SeUser" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendMessageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SendMessageResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUpdates">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sessionId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="lastUpdateTime" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUpdatesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUpdatesResult" type="tns:ArrayOfSeUpdate" />
            <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="newUpdateTime" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="numberOfLines" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfSeUpdate">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="SeUpdate" nillable="true" type="tns:SeUpdate" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SeUpdate">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Time" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="User" type="tns:SeUser" />
          <s:element minOccurs="1" maxOccurs="1" name="Index" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="StartMilliseconds" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="EndMilliseconds" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Text" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Action" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetSubtitle">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sessionId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSubtitleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSubtitleResult" type="tns:ArrayOfSeSequence" />
            <s:element minOccurs="0" maxOccurs="1" name="fileName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="updateTime" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetOriginalSubtitle">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sessionId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetOriginalSubtitleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetOriginalSubtitleResult" type="tns:ArrayOfSeSequence" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="StartSoapIn">
    <wsdl:part name="parameters" element="tns:Start" />
  </wsdl:message>
  <wsdl:message name="StartSoapOut">
    <wsdl:part name="parameters" element="tns:StartResponse" />
  </wsdl:message>
  <wsdl:message name="JoinSoapIn">
    <wsdl:part name="parameters" element="tns:Join" />
  </wsdl:message>
  <wsdl:message name="JoinSoapOut">
    <wsdl:part name="parameters" element="tns:JoinResponse" />
  </wsdl:message>
  <wsdl:message name="LeaveSoapIn">
    <wsdl:part name="parameters" element="tns:Leave" />
  </wsdl:message>
  <wsdl:message name="LeaveSoapOut">
    <wsdl:part name="parameters" element="tns:LeaveResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteLinesSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteLines" />
  </wsdl:message>
  <wsdl:message name="DeleteLinesSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteLinesResponse" />
  </wsdl:message>
  <wsdl:message name="InsertLineSoapIn">
    <wsdl:part name="parameters" element="tns:InsertLine" />
  </wsdl:message>
  <wsdl:message name="InsertLineSoapOut">
    <wsdl:part name="parameters" element="tns:InsertLineResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateLineSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateLine" />
  </wsdl:message>
  <wsdl:message name="UpdateLineSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateLineResponse" />
  </wsdl:message>
  <wsdl:message name="SendMessageSoapIn">
    <wsdl:part name="parameters" element="tns:SendMessage" />
  </wsdl:message>
  <wsdl:message name="SendMessageSoapOut">
    <wsdl:part name="parameters" element="tns:SendMessageResponse" />
  </wsdl:message>
  <wsdl:message name="GetUpdatesSoapIn">
    <wsdl:part name="parameters" element="tns:GetUpdates" />
  </wsdl:message>
  <wsdl:message name="GetUpdatesSoapOut">
    <wsdl:part name="parameters" element="tns:GetUpdatesResponse" />
  </wsdl:message>
  <wsdl:message name="GetSubtitleSoapIn">
    <wsdl:part name="parameters" element="tns:GetSubtitle" />
  </wsdl:message>
  <wsdl:message name="GetSubtitleSoapOut">
    <wsdl:part name="parameters" element="tns:GetSubtitleResponse" />
  </wsdl:message>
  <wsdl:message name="GetOriginalSubtitleSoapIn">
    <wsdl:part name="parameters" element="tns:GetOriginalSubtitle" />
  </wsdl:message>
  <wsdl:message name="GetOriginalSubtitleSoapOut">
    <wsdl:part name="parameters" element="tns:GetOriginalSubtitleResponse" />
  </wsdl:message>
  <wsdl:portType name="SeServiceSoap">
    <wsdl:operation name="Start">
      <wsdl:input message="tns:StartSoapIn" />
      <wsdl:output message="tns:StartSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Join">
      <wsdl:input message="tns:JoinSoapIn" />
      <wsdl:output message="tns:JoinSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Leave">
      <wsdl:input message="tns:LeaveSoapIn" />
      <wsdl:output message="tns:LeaveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteLines">
      <wsdl:input message="tns:DeleteLinesSoapIn" />
      <wsdl:output message="tns:DeleteLinesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertLine">
      <wsdl:input message="tns:InsertLineSoapIn" />
      <wsdl:output message="tns:InsertLineSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateLine">
      <wsdl:input message="tns:UpdateLineSoapIn" />
      <wsdl:output message="tns:UpdateLineSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendMessage">
      <wsdl:input message="tns:SendMessageSoapIn" />
      <wsdl:output message="tns:SendMessageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUpdates">
      <wsdl:input message="tns:GetUpdatesSoapIn" />
      <wsdl:output message="tns:GetUpdatesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSubtitle">
      <wsdl:input message="tns:GetSubtitleSoapIn" />
      <wsdl:output message="tns:GetSubtitleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetOriginalSubtitle">
      <wsdl:input message="tns:GetOriginalSubtitleSoapIn" />
      <wsdl:output message="tns:GetOriginalSubtitleSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SeServiceSoap" type="tns:SeServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Start">
      <soap:operation soapAction="http://tempuri.org/Start" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Join">
      <soap:operation soapAction="http://tempuri.org/Join" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Leave">
      <soap:operation soapAction="http://tempuri.org/Leave" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteLines">
      <soap:operation soapAction="http://tempuri.org/DeleteLines" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertLine">
      <soap:operation soapAction="http://tempuri.org/InsertLine" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateLine">
      <soap:operation soapAction="http://tempuri.org/UpdateLine" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMessage">
      <soap:operation soapAction="http://tempuri.org/SendMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUpdates">
      <soap:operation soapAction="http://tempuri.org/GetUpdates" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSubtitle">
      <soap:operation soapAction="http://tempuri.org/GetSubtitle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOriginalSubtitle">
      <soap:operation soapAction="http://tempuri.org/GetOriginalSubtitle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SeServiceSoap12" type="tns:SeServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Start">
      <soap12:operation soapAction="http://tempuri.org/Start" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Join">
      <soap12:operation soapAction="http://tempuri.org/Join" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Leave">
      <soap12:operation soapAction="http://tempuri.org/Leave" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteLines">
      <soap12:operation soapAction="http://tempuri.org/DeleteLines" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertLine">
      <soap12:operation soapAction="http://tempuri.org/InsertLine" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateLine">
      <soap12:operation soapAction="http://tempuri.org/UpdateLine" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMessage">
      <soap12:operation soapAction="http://tempuri.org/SendMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUpdates">
      <soap12:operation soapAction="http://tempuri.org/GetUpdates" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSubtitle">
      <soap12:operation soapAction="http://tempuri.org/GetSubtitle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOriginalSubtitle">
      <soap12:operation soapAction="http://tempuri.org/GetOriginalSubtitle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SeService">
    <wsdl:port name="SeServiceSoap" binding="tns:SeServiceSoap">
      <soap:address location="http://localhost:2782/se/SeService.asmx" />
    </wsdl:port>
    <wsdl:port name="SeServiceSoap12" binding="tns:SeServiceSoap12">
      <soap12:address location="http://localhost:2782/se/SeService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
